<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>User Profile</h1>
    <div class="profile-container">
        <h2>{{ user.name }}</h2> <!-- Use the user data -->
        <p><strong>Tech Stack:</strong> {{ user.tech_stack }}</p>
        <p><strong>Project:</strong> {{ user.project }}</p>
        <p><strong>Points:</strong> {{ user.points }}</p> <!-- Use the user points -->
    </div>
    <a href="{{ url_for('index') }}" class="btn-home">Go Back to Home</a>
</body>

</html>